@font-face {
    font-family: zentai;
    src: url(../font/Zenzai\ Itacha.ttf);
}

#nome{
    font-family: zentai;
    font-size: 28pt;
}

.filmes{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    height: 250px;
}

.card-body{
    justify-content: space-between;
}

.descricao{
    color: rgb(0, 247, 255);
}

.valor{
    color: aqua;
}

#carouselPc{
    height: 300px;
}

/* localização */
#lock{
    width: 70%;
    font-family: zentai;
}

#lockPc{
    width: 40%;
    font-family: zentai;
}

#maps{
    width: 100%;
    height: auto;
}